In [110]:
import requests
from bs4 import BeautifulSoup

import collections

if not hasattr(collections,'callable'):
    collections.Callable=collections.abc.Callable

url='https://finance.naver.com/item/main.naver?code=373220'
html=requests.get(url)
soup= BeautifulSoup(html.text,'html.parser')

aa=soup.find('div',{'class':'rate_info'})

In [131]:
aa=soup.find_all('span',{'class','blind'})
#//*[@id="chart_area"]/div[1]/table/tbody/tr[1]/td[2]
aa

[<span class="blind">네이버</span>,
 <span class="blind">페이</span>,
 <span class="blind">증권</span>,
 <span class="blind">검색</span>,
 <span class="blind">자동완성</span>,
 <span class="blind">선택됨</span>,
 <span class="blind">날짜</span>,
 <span class="blind">실시간</span>,
 <span class="blind">기업개요</span>,
 <span class="blind">MY STOCK 추가</span>,
 <span class="blind">빠른주문</span>,
 <span class="blind">그룹추가</span>,
 <span class="blind">확인</span>,
 <span class="blind">닫기</span>,
 <span class="blind">329,500</span>,
 <span class="blind">1,000</span>,
 <span class="blind">0.30</span>,
 <span class="blind">328,500</span>,
 <span class="blind">331,500</span>,
 <span class="blind">427,000</span>,
 <span class="blind">126,826</span>,
 <span class="blind">325,500</span>,
 <span class="blind">322,000</span>,
 <span class="blind">41,580</span>]

In [121]:
고가
//*[@id="chart_area"]/div[1]/table/tbody/tr[1]/td[2]

SyntaxError: invalid syntax (1854267121.py, line 2)

In [7]:
import pandas as pd
aa=pd.DataFrame({'aa':[1,3],'bb':[2,4]})
aa

   aa  bb
0   1   2
1   3   4

In [10]:
bb=pd.DataFrame({'aa':[1,3],'bb':[2,4]},index=[1,3])
bb

   aa  bb
1   1   2
3   3   4

In [11]:
aa+bb

    aa   bb
0  NaN  NaN
1  4.0  6.0
3  NaN  NaN