In [1]:
import pandas as pd

In [2]:
major_alcho=pd.read_csv(r'C:\KDT\프로젝트\0718 맥주광고\한국건강증진개발원_절주(알코올 생산과 소비)_총 주요 주류 출고현황_20211231.csv',encoding = 'cp949')
oversea_alcho=pd.read_csv(r'C:\KDT\프로젝트\0718 맥주광고\한국건강증진개발원_절주(알코올 생산과 소비)_주요 주류 출고현황(수입분)_20211231 (1).csv')
national_alcho=pd.read_csv(r'C:\KDT\프로젝트\0718 맥주광고\한국건강증진개발원_절주(알코올 생산과 소비)_주요 주류 출고현황(국내분)_20201231 (1).csv')
minsok_alcho=pd.read_csv(r'C:\KDT\프로젝트\0718 맥주광고\한국건강증진개발원_절주(알코올 생산과 소비)_민속주 출고현황_20201231.csv')
tlksan_alcho=pd.read_csv(r'C:\KDT\프로젝트\0718 맥주광고\한국건강증진개발원_절주(알코올 생산과 소비)_지역특산주 출고현황_20201231.csv')

In [3]:
major_alcho=major_alcho.set_index('연도')
major_alcho5=major_alcho.loc[2018:2023]
major_alcho5

,총 출고량,탁주,약주,청주,맥주,과실주,증류식소주,희석식소주,위스키,브랜디,일반증류주,리큐르,기타주류
연도,,,,,,,,,,,,,
2018,3641308,402596,11562,25568,2145118,56332,1769,920082,14194,558,14162,9711,39656
2019,3550527,370527,11301,21874,2088837,64539,1802,917711,11911,543,13673,9020,38789
2020,3304754,379992,9538,20503,1856393,80003,2001,876520,9918,570,12902,7224,49189
2021,3230916,363135,11370,21341,1807620,113762,2567,827627,10720,648,12509,8291,51326

In [4]:
oversea_alcho=oversea_alcho.set_index('연도')
oversea_alcho5=oversea_alcho.loc[2018:2023]
oversea_alcho5

,맥주,포도주(원액포함),포도주(베르믓등 기타유사 포도주),과실 발효주(사과술 등),청주,약주,기타곡물발효주,기타발효주(와인쿨러 등),위스키,꼬냑,...,럼,진 및 제네바,보드카,기타리큐르(오가피 등),브랜디,소주,고량주,데낄라,기타증류주,주류수입합계
연도,,,,,,,,,,,,,,,,,,,,,
2018,387981,40292,1444,3083,6308,0,1133,6026,19966,111,...,958,452,3682,6387,90,124,7575,764,2843,489476
2019,360131,43495,1487,6580,4110,0,2119,3432,19836,126,...,1042,497,3400,5835,70,129,7464,759,3683,464519
2020,277927,54127,1655,11429,2379,0,4893,4918,15923,137,...,749,500,2037,4982,68,173,7448,434,3824,393890
2021,257932,76575,1827,14710,3109,0,7310,8664,15662,168,...,814,548,2266,5053,101,95,7123,454,5973,408688

In [17]:
oversea=pd.DataFrame()
oversea['과실주']=oversea_alcho5['포도주(원액포함)']+oversea_alcho5['포도주(베르믓등 기타유사 포도주)']+oversea_alcho5['과실 발효주(사과술 등)']
oversea

        과실주
연도
2018  44819
2019  51562
2020  67211
2021  93112

In [6]:
national_alcho=national_alcho.set_index('연도')
national_alcho5=national_alcho.loc[2018:2023]
national_alcho5

,총 출고량,탁주,약주,청주,맥주,과실주,증류식소주,희석식소주,위스키,브랜디,일반증류주,리큐르,기타주류
연도,,,,,,,,,,,,,
2018,3135485,402580,11479,19068,1736927,12054,1651,917959,126,1,1740,3255,28645
2019,3077195,370500,11213,17784,1715995,10926,1714,915596,72,-2,1683,2536,29178
2020,2900821,379976,9483,17113,1566914,11315,1929,874537,56,-1,1559,1989,35951

In [7]:
minsok_alcho=minsok_alcho.set_index('연도')
minsok_alcho5=minsok_alcho.loc[2018:2023]
minsok_alcho5

        합계   약주    탁주  과실주  증류식소주  일반증류주  리큐르  기타주류
연도
2018  2806  643  1786    0    294     11   69     3
2019  2260  522  1375    0    280     12   68     3
2020  2255  518  1352    0    286     13   84     2

In [8]:
tlksan_alcho=tlksan_alcho.set_index('연도')
tlksan_alcho5=tlksan_alcho.loc[2018:2023]
tlksan_alcho5

         합계    탁주    약주   청주   과실주  증류식소주  일반증류주  리큐르  기타주류
연도
2018   6906  3461   682   45  1760    204    326  263   165
2019   9160  4256  1424  100  1621    310    714  276   459
2020  10775  5576   902  386  1673    368   1000  387   483

국내 전통주를 보기위해 민속주와 특산주를 합치겠음

In [9]:
juntong_alcho5=minsok_alcho5+tlksan_alcho5

#민속주엔 청주데이터가 없어서 특산청주데이터를 전체데이터로 적용
juntong_alcho5['청주']=tlksan_alcho5['청주']
juntong_alcho5

       과실주  기타주류  리큐르    약주  일반증류주  증류식소주   청주    탁주     합계
연도
2018  1760   168  332  1325    337    498   45  5247   9712
2019  1621   462  344  1946    726    590  100  5631  11420
2020  1673   485  471  1420   1013    654  386  6928  13030

In [10]:
major_alcho5.corr(numeric_only=True)

,총 출고량,탁주,약주,청주,맥주,과실주,증류식소주,희석식소주,위스키,브랜디,일반증류주,리큐르,기타주류
총 출고량,1.000000,0.696771,0.479359,0.804874,0.997910,-0.912897,-0.859064,0.936105,0.889734,-0.779587,0.994615,0.833494,-0.969697
탁주,0.696771,1.000000,0.070218,0.818652,0.649504,-0.737877,-0.672783,0.650101,0.740031,-0.537627,0.765558,0.479159,-0.512213
약주,0.479359,0.070218,1.000000,0.629899,0.509646,-0.080440,0.025713,0.169572,0.703332,0.122469,0.421518,0.877202,-0.478400
청주,0.804874,0.818652,0.629899,1.000000,0.784857,-0.605061,-0.491917,0.586294,0.976830,-0.328971,0.826184,0.872127,-0.656960
맥주,0.997910,0.649504,0.509646,0.784857,1.000000,-0.898179,-0.845753,0.930896,0.881340,-0.772323,0.985856,0.846027,-0.981360
과실주,-0.912897,-0.737877,-0.080440,-0.605061,-0.898179,1.000000,0.990781,-0.988750,-0.673464,0.950261,-0.931012,-0.536393,0.886627
증류식소주,-0.859064,-0.672783,0.025713,-0.491917,-0.845753,0.990781,1.000000,-0.980176,-0.568772,0.982851,-0.876268,-0.433641,0.853638
희석식소주,0.936105,0.650101,0.169572,0.586294,0.930896,-0.988750,-0.980176,1.000000,0.683022,-0.950055,0.938736,0.592826,-0.939418
위스키,0.889734,0.740031,0.703332,0.976830,0.881340,-0.673464,-0.568772,0.683022,1.000000,-0.426379,0.892244,0.944676,-0.787196
브랜디,-0.779587,-0.537627,0.122469,-0.328971,-0.772323,0.950261,0.982851,-0.950055,-0.426379,1.000000,-0.788805,-0.316424,0.812925
일반증류주,0.994615,0.765558,0.421518,0.826184,0.985856,-0.931012,-0.876268,0.938736,0.892244,-0.788805,1.000000,0.802571,-0.943430
리큐르,0.833494,0.479159,0.877202,0.872127,0.846027,-0.536393,-0.433641,0.592826,0.944676,-0.316424,0.802571,1.000000,-0.793441
기타주류,-0.969697,-0.512213,-0.478400,-0.656960,-0.981360,0.886627,0.853638,-0.939418,-0.787196,0.812925,-0.943430,-0.793441,1.000000

In [11]:
## 2018년과 2021년 데이터를 비교했을때 전체술 출고 증가량 (%)
pd.DataFrame(major_alcho5.loc[2021]/major_alcho5.loc[2018]*100,columns=['18-21 전체 술 출고 증가량 (%)'])

       18-21 전체 술 출고 증가량 (%)
총 출고량              88.729544
탁주                 90.198363
약주                 98.339388
청주                 83.467616
맥주                 84.266693
과실주               201.949159
증류식소주             145.110232
희석식소주              89.951439
위스키                75.524870
브랜디               116.129032
일반증류주              88.327920
리큐르                85.377407
기타주류              129.428082

2020년 전후의 데이터를 확인했을때
맥주소비량이 줄어들면서 가장 크게 이득을 본곳 => 과실주, 증류식 소주

In [18]:
pd.concat([major_alcho5['과실주'],oversea,juntong_alcho5['과실주']],axis=1,keys=['Total','oversea','juntong'])

       Total oversea juntong
         과실주     과실주     과실주
연도
2018   56332   44819  1760.0
2019   64539   51562  1621.0
2020   80003   67211  1673.0
2021  113762   93112     NaN

과실주의 경우 해외수입이 강하게늘었음

In [13]:

pd.concat([major_alcho5['증류식소주'],oversea_alcho5['소주'],juntong_alcho5['증류식소주']],axis=1,keys=['Total','oversea','juntong'])

      Total  oversea  juntong
연도
2018   1769      124    498.0
2019   1802      129    590.0
2020   2001      173    654.0
2021   2567       95      NaN

해외의경우 증류식 소주의 데이터가 없어서 소주데이터로 대체.
국내 전통주시장의 증류식 소주출고가 늘어난것으로 보임
전통주의 소비 증가 => 술담화 같은 전통주 구독서비스의 탄생
전체 전통주는 어떻게 변화하였는가

In [28]:
## 전통주 출고량 변화 2018-2020
juntong_change=juntong_alcho5.loc[2020]-juntong_alcho5.loc[2018]
juntong_change_ratio=juntong_alcho5.loc[2020]/juntong_alcho5.loc[2018]*100
pd.concat([juntong_change,juntong_change_ratio],axis=1,keys=['전통주소비변화량(kl)','전통주소비변화율(%)'])

       전통주소비변화량(kl)  전통주소비변화율(%)
과실주             -87    95.056818
기타주류            317   288.690476
리큐르             139   141.867470
약주               95   107.169811
일반증류주           676   300.593472
증류식소주           156   131.325301
청주              341   857.777778
탁주             1681   132.037355
합계             3318   134.163921

전통주는 수입에 많이 의존하는 과실주를 제외하곤 전체적으로 소비량이 강하게 증가한것으로 볼수있다